*{
    margin: 0px;
    padding: 0px;
}
.all{
    margin: 50px auto;
    width: 800px;
    height: 600px;
}
.right{
    float: right;
    width: 390px;
    height: 590px;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    height: 345px;
    width: 340px;
    padding: 15px;
    border: 2px solid #ccc;
    text-align: center;
}
form input{
    margin: 5px;
}
#text{
    width: 300px;
    height: 35px;
}
#btn{
    width: 300px;
    height: 35px;
    background-color: rgb(34, 148, 224);
    border: none;
    color: white;
}
.or{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    height: 1px;
    width: 140px;
    background-color: black;
}
.login img{
    padding: 15px;
}
.signup{
    margin: 10px;
    padding: 15px;
    height: 50px;
    width: 340px;
    border: 2px solid #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    height: 90px;
    width: 340px;
    text-align: center;
}
.dlimg{
    display: flex;
    justify-content: center;
}