*{
    margin: 0px;
}
body{
    padding: 20px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: 1px solid rgb(120, 144, 103);
    margin: 20px 0px 20px 0px;
}
table{
    border-collapse: collapse;
    width: 1100px;
}
tr:nth-child(1){
    background-color: rgb(236, 243, 228);
}
td{
    height: 30px;
    padding: 5px;
}   
td:nth-child(1){
    width: 150px;
}
.btn{
    font-size: 14px;
    color: black;
    border-radius: 10%; 
    border: none;
    background-color: rgb(236, 233, 224);
    padding: 8px;           
}
.btn:hover{
    color: black;
    background-color: rgb(226, 236, 219);
}
.btn:focus{
    background-color: rgb(226, 236, 219);
}
input{
    height: 25px;
    font-size: 16px;
}
.form{
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
}   
.right{
    float: right;
    position: sticky;
}
